# ===========================
# Java / Maven
# ===========================
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
hs_err_pid*

# ===========================
# Angular / Node
# ===========================
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.angular/
frontend/*.js.map

# ===========================
# IDEs
# ===========================

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/
*.code-workspace

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Docker
# ===========================
*.env
.env.local
.env.*.local
